{% extends "blog/index.html" %}

    {% block meta %}
        <meta name="description" content="This is the blog page of Shine It">
    {% endblock %}

    {% block title %}
        <title>Shine it - {{ post.title }}.</title>
    {% endblock %}

    {% block content %}
        <div class="blog-posts">
            <div class="blog-post">
                <div>
                    <img class="blog-image" src="{{ post.image.url }}">
                </div>
                <div>
                    <h2 class="blog-title">{{ post.title }}</h2>
                    <span class="blog-date-posted">{{ post.date_posted|date:"F d, Y" }}</span>
                    <p>{{ post.content|safe|slice:":150" }}</p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block js %}
    {% endblock %}
