{% extends 'itsite/index.html' %}
{% load crispy_forms_tags %}

{% block meta %}
    <meta name="description" content="Contact page.">
{% endblock %}

{% block title %}
    <title>ShineIT - Contact Us</title>
{% endblock %}

{% block content %}
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            <h1>Talk to Us</h1>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="cta cta2" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
