{% extends "itsite/index.html" %}

    {% block title %}
        <title>ItIgnition - We create digital solutions for businesses</title>
    {% endblock %}

    {% block content %}

        <!-- FIRST SECTION -->
        <section class="section first-section">


            <div class="section-content" style="display: flex; align-items: center; justify-content: space-between;">
                <div class="title-with-paragraph" style="margin-top: 100px;">
                    <h1 class="big-title">Needing a Good Developer?</h1>
                    <p class="paragraph">We have a team of a wide variety of talented developers that helps individuals and small businesses solve problems and thrive.</p>
                    <br>
                    <br>
                    <a class="cta" href="{% url 'hire' %}">TALK TO US</a>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

        </section>

        <!-- SECOND SECTION -->
        <section class="section second-section">
            <div class="section-content">
                <div class="features">
                    <div class="feature" data-anime="left">
                        <i class="fas fa-check"></i>
                        <h5>High Quality</h5>
                        <p class="paragraph">We are perfectionists in every thing we do.</p>
                    </div>
                    <div class="feature" data-anime="right">
                        <i class="fas fa-hands-helping"></i>
                        <h5>Amazing Support</h5>
                        <p class="paragraph">We give long term support for our clients.</p>
                    </div>
                    <div class="feature" data-anime="left">
                        <i class="fas fa-chart-line"></i>
                        <h5>For small businesses</h5>
                        <p class="paragraph">Our primarily focus are small businesses and individuals.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section forth-section">
            <div class="section-content">
                <div class="section-content2" data-anime="left">
                    <h2>About Us</h2>
                    <p>
                        We are a multidisciplinary software house from Lisbon.
                        We want to create a spark in IT and ignite the results of our clients with the power of tech.
                    </p>
                </div>
            </div>
        </section>

        <section class="section fitht-section">
            <div class="section-content">
                <div class="section-content2">
                    <img src="../../static/itsite/img/PNG/Objects/phone.png" style="height: 48px;">
                    <p>
                        You’ll be always in touch with a project manager with updates provided and questions answered at every phase of the project.
                    </p>
                    <br>
                    <img src="../../static/itsite/img/PNG/Objects/rocket.png" style="height: 48px;">
                    <p>Our mission is to empower people and customers to achieve the best results</p>
                    <br>
                </div>

            </div>
        </section>

        <section class="section third-section">
            <div class="section-content">
                <div class="section-content2" data-anime>
                    <h3>A wide variety of technologies</h3>
                    <p style="margin-bottom: 20px;"><span id="stacks">Python</span></p>
                    <a class="cta" href="{% url 'hire' %}">TALK TO US</a>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="../../static/itsite/js/index.js"></script>
        <script type="text/javascript" src="../../static/itsite/js/animation.js"></script>
    {% endblock %}
