{% extends 'itsite/index.html' %}

{% block meta %}
        <meta name="description" content="See all job offers at Shine it.">
{% endblock %}

{% block title %}
    <title>ShineIT - Jobs</title>
{% endblock %}

{% block content %}

<div class="custom-container">
    <h1>Job Offers</h1>
    <p>See the latests job offers at Shine it.</p>
    <div class="jobs">
        {% for job in jobs  %}
            <div class="job-card">
                <p><b>{{ job.title }}</b></p>
                <div class="flex">
                    <p class="jobs-date">Posted: {{ job.date_posted|date:"F d, Y" }}</p>
                    <p class="jobs-date">Location: Remote</p>
                </div>
                <a class="cta cta3" href="{% url 'job' job.pk %}">VIEW</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
